@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway:wght@700;800&display=swap');

* {
    box-sizing: border-box;
}

:root {
    /* Vari치veis para palta de cores do site.*/
    --cor-titulo: #4d4d4d;
    --cor-texto: #333;
    --cor-escura: #000;
    --cor-clara: #fff;
    --cor-intermediaria: #ececec;
}

html {
    font-size: 16px;
}

body {
    color: var(--cor-texto);
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--cor-clara);
}

/* CSS Reset em alguns elementos */
body,
h1,
h2,
p,
figure,
.menu {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 800px;
    font-size: 1.5rem;
}

h1 a {
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    padding: 0.3rem 1rem;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--cor-clara);
}

/* Menu fixo no topo */
header .limit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

/* Formata칞칚o da palavra Menu */
nav h2 a {
    color: var(--cor-escura);
    font-size: 1.2rem;
    padding: 1rem;
    display: inline-block;
}

.menu a:hover,
.menu a:focus,
nav h2 a:hover,
nav h2 a:focus {
    background-color: var(--cor-intermediaria);
}

/* Regra da lista ul de links */
.menu {
    list-style: none;
    /* ATEN칂츾O!
Usamos display:nome para n칚o exibir inicialmente a lista de links */
    display: none;
}


/* Regra para formatar os links contidos na lista/menu */
.menu a {
    color: var(--cor-escura);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}



/* Seletor de classes combinadas.
Esta regra somente ir치 funcionar quando AS DUAS CLASSES estiverem aplicadas JUNTAS no elememto HTML (no caso, na lista de menu/links).

Obs.: esta combina칞칚o ser치 poss칤vel por meio da manipula칞칚o programada com JavaScript.*/
.menu.aberto {
    /* Aplicar um fundo 치 lista evitando a dificuldade de leitura dos links. */
    background-color: var(--cor-clara);

    /* O Flex far치 a lista de links aparecer */
    display: flex;

    /* Com os links em forma de coluna (vertical) */
    flex-direction: column;

    /* Usamos as propriedades de posicionamento e coordenadas para garantir o encaixe correwto (abaixo do titulo e da palavra Menu}. */
    position: absolute;
    left: 0;
    right: 0;
}

.destaque {
    height: 90vh;
    background-image: url(../img/fundo-destaque.jpg);
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.destaque h2,
.destaque p {
    color: var(--cor-clara);
    text-align: center;
    animation-duration: 3s;
    animation-name: animaDestaque;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.destaque h2 {
    /* Fun칞칚o clamp (tamanho minimo, ideal, tamanho m치ximo) */
    font-size: clamp(3rem, 10vw, 7rem);
}

.destaque p {
    font-size: clamp(1rem, 3vw, 3rem);
}

/* Regras de Anima칞칚o */
@keyframes animaDestaque {
    from {
        opacity: 0;
        transform: translateY(-500px);
    }

    to {
        opacity: 1;
    }
}

article h2 {
    padding: 1rem;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    color: var(--cor-titulo);
}

.front-end,
.historia,
.localizacao {
    text-align: center;

}

article p {
    padding: 0.5rem 0;
    font-size: 1rem;
}

abbr {
    text-decoration: none;
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    padding: 0 2px;
    border-radius: 5px;
}

.historia {
    background-image: url(../img/fundo-madeira.jpg);
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.historia h2 {
    color: var(--cor-clara);
    text-shadow: 0.1em 0.1em 0.2em var(--cor-intermediaria);
}

.historia iframe {
    width: 100%;
    max-width: 700px;
    margin-bottom: 2rem;

}

.localizacao iframe {
    width: 100%;
    margin-top: 2rem;
}

.limit {
    margin: auto;
    width: 95vw;
}

footer {
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    height: 15vh;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.8rem;
}

/* Regras parar Pagina Produtos, servi칞os e contato */

.conteudo {
    background-color: var(--cor-intermediaria);
    padding: 0.5rem;
    border-radius: 8px;
}

.conteudo h2 {
    padding-left: 0;
    font-size: 1.8rem;
    border-bottom: solid 1px;
    margin-bottom: 1rem;
}

table {
    width: 80%;
    margin: auto;
}

table, th, td {
    border: solid 1px;
    border-collapse: collapse;  /* Remove os espa칞os entre as bordas */
   
}

caption{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
}

th {
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    border-color: var(--cor-titulo);
    padding: 0.7rem;
}
td {
    padding: 0.4rem;
}

td:nth-child(2) { text-align: center;}

th:last-child, td:last-child{ text-align: right;}

th:first-child{text-align: left;}

tr:nth-child(even) { background-color: var(--cor-clara);}

/* Colocar o R$ com CSS com um Pseudo-elemento ::before(depois) ou ::after(antes)*/
td:last-child {position: relative;}
td:last-child::before { 
    content: "R$ ";
    position: absolute;
    left: 10px;
}

.conteudo h2::after { content: "游눶 ";}


/* Medias Query Gerais */
@media screen and (min-width: 570px) {

    header .menuBx {
        display: none;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    nav {
        width: 70%;
    }

    .front-end img {
        height: 200px;
    }

}

@media screen and (min-width: 900px) {

    * {
        font-size: 18px;
    }

    .limit {
        max-width: 1000px;
    }
}

